nav {
    font-weight: bold;
    color: red;
    border: 2px solid rgb(65, 153, 225);
    text-align: center;
    width: 10em;
    background-color: rgb(65, 201, 225);
}

nav ul {
    display: none;
    list-style: none;
    margin: 0;
    padding: 0;
}

nav:hover ul { display: block; }
nav ul li {
    border-top: 2px solid  rgb(65, 153, 225);
    background-color: white;
    width: 10em;
}

nav ul li:hover { 
    background-color: rgb(176, 230, 207); 
}

a { 
    text-decoration: none; 
    color: blue;
}

nav ul li:hover a { color: darkorange; }