img           { margin-right: 10px; }
table         { width: 200px;
                border-collapse:collapse; 
                background-color: rgb(9, 164, 236); }
table, td, th { border: 1px solid black; 
                padding: 4px; 
                margin-top: 20px; }
th            { text-align: left; 
                color: white;
                background-color: red; }